/*==============================
=            LAYOUT            =
==============================*/

body {
	background-color: @background-color;
}

.wrapper {
	margin: 20px auto;
	width: 60%;
}

.list-wrapper {
	.box;
	background-color: #fff;
	padding: 10px 0;
	
	ul {
		padding: 0;
		li {
			.card-list;
		}
		
	}
}


/*==================================
=            RESPONSIVE            =
==================================*/



