/*=================================
=            VARIABLES            =
=================================*/

/* Colors */
@light-blue: #D8DEE6;
@light-red: #FFC5C5;
@light-green: #DBF5DF;

/* Layout */
@background-color: #F0F5F0;

/* Setteings */
@border-settings: solid 1px #eef;
